body {
    background-image: url("https://wallpapercave.com/wp/58eyKEt.jpg");
    background-size: cover;
}

h1 {
    color: rgb(254, 12, 12);

}

.header {
    background-color: rgb(189, 155, 224);
    display: flex;
    justify-content: flex-end;

}

h2,
p {
    text-align: center;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid img{
    width: 300px;
    height: 450px;
}